<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>诺亚方舟</title>
	<meta name="keywords" content="诺亚方舟" />
	<meta name="description" content="诺亚方舟" />
	<script type="text/javascript" src="/js/index/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/js/index/index.js"></script>
        <link rel="stylesheet" href="/css/index/article.css" />
	<link rel="stylesheet" href="/css/index/index.css" />
</head>
    <body>
<!-- 头部 -->
	<div id="wrapper"></div>
	<div id="top">
		<!-- 头部左侧 -->
		<div id="top_left">
			<p id="logo"></p>
                        <!--<引入头和脚文件>-->		
                    <span>诺亚方舟，诺亚方舟！</span>
		</div>
		<!-- 头部右侧(导航条) -->
		<div id="top_right">
			<ul>
				<li><a href="/index/index/index.html">主页</a></li>
				<li><a href="">博文</a></li>
				<li><a href="/index/index/blogDetails.html">了解后盾</a></li>
			</ul>
			<p id="bar"></p>
		</div>
	</div>
</body>
